<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=#, initial-scale=1.0">
    <title>Document</title>
</head>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<body>
 
    <form action="http://localhost:3000/register" method="POST" id="formSubmit" >
        Username: <input type="text" name="username" id="username"> <br><br>
        Email: <input type="email" name="email" id="email"><br><br>
        Password: <input type="password" name="password" id="pwsd"> <span id = "message" style="color:red"> </span>   <br><br>
        Confirm Password: <input type="text" name="confirm_password" id="confirm_password"> <br> <br>
        <button type="submit" id="signup" >Submit</button>
        
    </form>
    
</body>
<script src="/assets/js/script.js"></script>
</html>